@import "seattletimes";

main.interactive {
	max-width: 980px;
	margin: auto;
}

table {
	border-collapse: collapse;
}

thead {
	color: @df-middle-gray;
	font-size: 0.9em;
	text-align: left;
}

th, td {
	padding: 0 6px;
}

th {
	border-bottom: 1px solid @df-light-gray;
	font-weight: normal;
	padding-bottom: 8px;
}

.basic-info:hover {
	background-color: @st-light-blue;
	cursor: pointer;
}

td {
	border-bottom: 1px solid @df-light-gray;
}

.basic-info td {
	padding-top: 8px;
	padding-bottom: 8px;
}

.location {
	font-weight: bold;
}

.icon {
	font-weight: bold;
	.expanded &::after {
		content: "–";
	}
	.collapsed &::after {
		content: "+";
	}
}

.extra-info {
	font-size: 0.9em;
	&.shown {
		display: table-row;
	}
	&.hidden {
		display: none;
	}
}

.question {
	font-weight: bold;
}

.caption-container::after {
	clear: both;
	content: "";
	display: block;
}