<%
  var questions = [
    "Will I still owe back rent?",
    "Can my landlord charge late fees?",
    "Can my landlord still issue me a notice to pay rent within the next 14 days or vacate the property?",
    "During the eviction moratorium, can my landlord initiate eviction actions in court? When can my landlord begin eviction actions in court?",
    "Can local law enforcement serve eviction orders issued before the moratorium took effect?",
    "What if my landlord started eviction actions against me before the moratorium, and I had a hearing scheduled in March or April? Will I still have to go to that hearing?",
    "Where do I go for help?"
  ];
%><!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_dataLayer.html") %>
      <%= t.include("partials/_gtm.html") %>
    <% } %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <% if (json.project.production && !json.project.embedded) { %>
      <%= t.include("partials/_gtmNoScript.html") %>
    <% } %>
    <responsive-child>
      <main class="interactive">
        <h1 class="graphic-hed">Rent moratorium</h1>
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>Eviction moratorium started</th>
              <th>Moratorium ends</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
        <% json.data.forEach(function(d, i) { %>
          <tr class="basic-info">
            <td><%= d.location %></td>
            <td><%= d["When did the eviction moratorium begin?"] %></td>
            <td><%= d["When does the moratorium end?"] %></td>
            <td>></td>
          </tr>
          <tr class="extra-info <%= i === 0 ? 'shown' : 'hidden' %>">
            <td colspan="3">
              <% questions.forEach(function(q) { %>
                <p>
                  <span class="question"><%= q %></span>
                  <span class="answer"><%= d[q] %></span>
                </p>
              <% }); %>
            </td>
            <td></td>
          </tr>
        <% }); %>
          </tbody>
        </table>
        <div class="caption-container">
          <p class="art-credit">Hilary Fung / The Seattle Times</p>
        </div>
      </main>
    </responsive-child>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
